.lead__title {
    color: #FFFFFF;
    font-size: 96px;
    font-weight: 900;
    text-align: center;
    width: 700px;
    margin: 0 auto;
    padding-top: 70px;
    line-height: 100px;
    padding-bottom: 30px;
}